* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bar {
    height: 7.5vh;
    order: 999;
    background-color: rgba(255, 255, 255, 0);
}

nav, .col, .row {
    display: flex;
    align-items: center;
}

nav, .row, .scrlBtn {
    justify-content: center;
}

.scrlBtn {
    display: flex;
}

nav { 
    position: fixed;
    top: 0;
    width: 100%;
} 

.row {
    flex-wrap: wrap;
}

header, section {
    height: 85vh;
}

header {    
    background-image: url("alcedo-atthis-881594_1280flippedWide.jpg");
    background-repeat: no-repeat;
    background-size: 1279px 85vh;
    background-position: center;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.about {
    background: rgb(255, 151, 255);
}

.projects {
    background: rgb(0, 152, 172);
}

div.scrlBtn {
    position: absolute; 
    height: 10vh;
    width: 100%;
    bottom: 3.3vh;
}

.scrlBtn input {
    width: 20vw;
}

.col {
    height: 100%;
}

.left {
    flex: 50%;
}

.center {
    flex: 40%;
}

.right {
    flex: 10%;
}

/* footer {
    font-size: 12pt;
} */

/* For mobile phones: */

  
/* @media only screen and (min-width: 768px) {
    For desktop:
} */